html{
   height: fit-content;
   background-image: url(https://gifdb.com/images/high/fire-anime-skull-in-castlevania-jt4zevnpytloszme.gif);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
}

#heroi1,#heroi2{
    height: fit-content;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;
    border: 5px solid black;
    background-color: rgba(240, 248, 255, 0.939);
    margin: 0;
}

.nome1{
    width: fit-content;
    justify-content: center;
    font-family: "Marmelad", sans-serif;
    font-size: 20px;
    font-weight:900;
    margin: 10px 0;
}

.nome2{
    margin: 0;
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
}

#cards{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 20%;
    
}

#container{
    display: flex;
    flex-direction: column;
    gap: 3%;
    text-align: center;
    justify-content: center;

    height: fit-content;
    width: fit-content;
    align-items: center;
}

.imagem{
    width: 16rem;
    height: 23rem;
    border: 4px solid black;
    
}

.vencedor{
    font-family: "Bungee Spice", sans-serif;
    font-size: 50px;
    
}

@media only screen and (max-width: 724px){

    html{
        height: fit-content;
        background-color: rgb(18, 26, 90);
        background-image: none;
        display: flex;
        justify-content: center;
}

    #cards{
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        box-sizing: border-box;
        text-align: center;
}

    .imagem{
    width: 5rem;
    height: 9rem;
    border: 4px solid black;
}

    .vencedor{
        font-size: 15px;
        box-sizing: border-box;
        text-wrap: wrap;
        width: fit-content;
}

    .nome1{
        font-size: 8px;
    }

    .nome2{
        font-size: 15px;
    }

    #heroi1,#heroi2{
        align-self: center;
        width: fit-content;
        margin-bottom: 7px;
        
    }

    #container{
        height: fit-content;
        width: fit-content;
        align-items: center;
    }
}
@media only screen and (max-width: 1207px){
    html{
        background-image: none;
        background-color: rgb(18, 26, 90);
    }
}